<div id="book-page">
    <a href="/books">Voltar</a>
    <div class="container">
        <h1>{{book.title}}</h1>
        <p>Páginas: {{book.pages}}</p>
        <p>Autor: {{book.author}}</p>
        <p>Editora: {{book.publisher}}</p>
    </div>
</div>

